

  *
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header
{
  
  width: 100%;
  height: 100px;
  padding: 2rem;
  text-decoration:underline;
}

header h1
{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.4px;
  text-align: center;
  
}

.topic-list
{
  width: 100%;
  height: auto;
  
  
  
}

.topic-list ul a 
{
  
  list-style: none;
  text-decoration: none;
  padding: 1rem;
  color:#333;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  
}


.topic-list ul 
{ 
  
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}



#maindoc
{
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  
}
#maindoc h1, h2, h3, h4
{
  
  padding: 1rem;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  margin-left: 3.5rem;
  margin-right: 1rem;
  text-align: center;
}

#maindoc h2
{
  font-size: 2.1rem;
  text-align: center;
  margin:0;
  padding: 1.2rem;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
}
#maindoc h3
{
  font-size: 1.7rem;
}

#maindoc h4
{
  font-size: 1.3rem;
}



#maindoc p
{
  
  font-size: 1.20rem;
  line-height: 1.6;
  font-weight: 200;
  text-align: justify;
  margin-left: 5rem;
  margin-right: 5rem;
  letter-spacing: 1px;
  
}
code
{
  display: block;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  padding: 1rem;
  margin: 5rem;
  background-color: #111;
  text-align:left;
  font-size: 1.30rem;
  width: 80%;
  font-family: monospace;
  color: #fff;
}
#maindoc #javascript-basics ul
{
  margin-left: 6em;
  line-height: 2em;
  font-size: 1.30rem;

}
span
{
  background: #d0d0d5;
}
img
{
  margin-left: 4rem;
  padding: 1rem;
  width:60%;
  height: auto;

}

footer
{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  position: relative;
  bottom:0;
  background-color: #0a0a23;
  
}

footer p, a
{
  font-size: 1.1rem;
  line-height: 1;
  padding-top: 1rem;
  color:#d0d0d5;
  margin-left: 1rem;

  
}



@media screen and (max-width : 600px)
{
  header h1
  {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    
  }
  #maindoc
  {
    width: 100%;
  }

  .topic-list
  {
    width: 100%;
    background: pink;
  }
  .topic-list ul a li
  { 
  font-size: 1.1rem;
  text-align: center;
  }

  #javascript-basics
  {
    
    width: 98%;
    margin: auto;
  }

  #maindoc h1, h2, h3, h4
  {
    padding: 1rem;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
    margin:0;
    text-align: center;
  }

  #maindoc h1
  {
    font-size: 1.6rem;
    background-color: #d0d0d5;
    border: 1px solid#111;
  }

  #maindoc h2
  {
  font-size: 1.4rem;
  text-decoration: none;
  
  
  
  }

  #maindoc h3
  {
    font-size: 1.2rem;
  }

  #maindoc h4
  {
  font-size: 1rem;
  }

  #maindoc p
  {
  font-size: 1rem;
  line-height: 1.4;
  font-family: Lato,sans-serif;
  text-align: justify;
  margin: 1rem;
  letter-spacing: 1px;
  text-align: left;
  color:#333;
 }

 #maindoc #javascript-basics ul
{
  margin-left: 2em;
  line-height: 2em;
  font-size: 1.30rem;

}

code 
{
  width: 98%;
  line-height: 2;
  padding: 1rem;
  margin: auto;
  overflow-x: scroll;
  font-size: 1.2rem;
}

img 
{
  width: 100%;
  margin: auto;
}

#maindoc #javascript-basics ul li
{
  margin-left: 2em;
  line-height: 2em;
  font-size: .7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


}


